﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}


<div class="container" style="margin-top:100px;">
    @if (TempData["Captcha2"] != null)
    {
        <script>
            alert("@TempData["Captcha2"]");
        </script>
    }

    @{
        if (TempData["Success"] != null)
        {
            <div class="alert alert-success alert-block fade in" id="successAlert">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <p>@TempData["Success"]</p>
            </div><!-- end alert -->
        }
    }

    @{Html.RenderAction("FranchiseForm", "Application");  }
</div>

@{Html.RenderPartial("_FooterBlock");}


@section Javascript
{
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/jquery.validate.unobtrusive.min.js"></script>
}