﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
    var src = Umbraco.Media(CurrentPage.topLevelImage);
}

<div style="text-align:center; width:100%; height:325px; background-size:cover; background-image: url(@src.Url);">
    <div id="transparentBox">
        <img id="theImage" src="~/images/THE.png" />
        <h3>@CurrentPage.name</h3>
    </div>
</div>

<div class="row" id="blackBox">
    <div class="container">
        @*<div class="text-center">
            <h4 style="  border-bottom: 1px solid #ffffff;width: 25%; margin: auto; padding: 10px;">FRANCHISE</h4>
        </div><br />*@
        <div class="text-center" style="margin-bottom:15px;">
            <h6>@CurrentPage.headingParagraph</h6>
        </div>

        <div class="row">
            <div class="col-sm-6">
                @CurrentPage.leftParagraph
            </div>
            <div class="col-sm-6">
                @CurrentPage.rightParagraph
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="container" style="margin-top:50px;">     
        <div id="storeDescription">
            @CurrentPage.bottomDescription
        </div>      
    </div>
</div>

@{Html.RenderPartial("_FooterBlock");}