﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
    var src = Umbraco.Media(CurrentPage.topLevelImage);
}
<div style="text-align:center; width:100%; height:325px; background-size:cover; background-image: url(@src.Url);">
    <div id="transparentBox">
        <h3>@CurrentPage.name</h3>
    </div>
</div>

<div class="row" id="blackBox">
    <div class="container">
        <div class="text-center">
            @*<h4 style="  border-bottom: 1px solid #ffffff;width: 25%; margin: auto; padding: 10px;">@CurrentPage.name</h4>*@
        </div><br />   
    </div>
</div>


<div class="row">
    <div class="container">
        <div class="row">
            @{
                if (TempData["Success"] != null)
                {
                    <div class="alert alert-success alert-block fade in" id="successAlert">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <p>@TempData["Success"]</p>
                    </div><!-- end alert -->
                }
            }

            <div class="col-md-6" style="padding:0px">
                @{Html.RenderAction("ContactForm", "Contact");  }
            </div>


            <div class="col-md-6">
                <div class="row" style="padding:20px;">
                    <div class="col-md-12">
                        @CurrentPage.rightContent
                    </div>

                </div>
            </div>


        </div>
    </div>
</div>
@{Html.RenderPartial("_FooterBlock");}

@section Javascript
{
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/jquery.validate.unobtrusive.min.js"></script>
}