﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
    var m = Umbraco.Media(CurrentPage.homepageImage);
}

@*@CurrentPage.GetGridHtml("content", "fanoe")*@



@*<img src="@m.Url" alt="@m.UrlName" id="homePageImage" />*@

<div id="homeBlock" style="background-image:url('@m.Url');">
    <div id="centerPortion">
            @{Html.RenderPartial("_centerBlockHomePage");}
    </div>
    <div id="centerPortionOnMobile">
        <div class="visible-sm visible-xs" id="responsiveFooterBlock">
            <ul>
                <li><a href="/benefits">FRANCHISE BENEFITS</a></li>
                <li><a href="/opportunities">FRANCHISE OPPORTUNITIES</a></li>
                <li><a href="/application">FRANCHISE APPLICATION</a></li>
            </ul>
        </div>
    </div>


</div>







@section Javascript{

<script type="text/javascript" language="JavaScript">
  function set_body_height() { // set body height = window height
    $('body').height($(window).height());
  }
  $(document).ready(function() {
    $(window).bind('resize', set_body_height);
    set_body_height();
  });
</script>

}