﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
	var home = @CurrentPage.Site();
    var currentPage = @CurrentPage.name;
}

<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, maximum-scale=1, user-scalable=no">
      <meta name="keywords" content="@(CurrentPage.metaKeywords != null ? CurrentPage.metaKeywords : "")" />
      <meta name="description" content="@(CurrentPage.metaDescription != null ? CurrentPage.metaDescription : CurrentPage.siteDescription)  ">

    <title>@CurrentPage.Name | @CurrentPage._siteTitle</title>
	
	<!-- Fonts -->
	<link href="//fonts.googleapis.com/css?family=Merriweather:400,700,300,900" rel="stylesheet" type="text/css">
	<link href="//fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet" type="text/css">
	
    <link rel='shortcut icon' href='favicon.ico' type='image/x-icon' /> 
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/fanoe.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
      <link href="/css/Live.css" type="text/css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
      <script src="/js/jquery.min.js"></script>     
     
  </head>

<body style="@(currentPage == "Home" ? "overflow:hidden; height:100%;" : "")">
    <header>
        <div class="container">
            <div class="row" style="position:relative;">
                <div class="col-xs-8 col-sm-12 col-md-2">
                    <a href="@home.Url">
                        <div class="brand" style="background-image:url('@(home.SiteLogo)')"></div>
                    </a>
                </div>
                @*<img class="hidden-sm hidden-xs" id="magnifyIcon" src="/media/magnifying.png" />*@
                @*<div class="col-sm-12 col-md-8">
                        <nav>

                            @{ Html.RenderPartial("MainNavigation"); }
                        </nav>
                    </div>*@

            </div>
        </div>

        <div class="col-sm-12 col-md-12">
            <div class="container">
                <nav>
                    @{ Html.RenderPartial("MainNavigation"); }
                </nav>
            </div>
        </div>

        <div id="toggle" class="toggle">
            <a href="#" class="cross"><span></span></a>
        </div>
    </header>

   
        @RenderBody()
    

    <footer style="background:rgba(0,0,0, 0.8);padding: 0px; margin-top:0px; height:50px; @(currentPage == "Home" ? "position:absolute;bottom:0;width:100%" : "")" class="row field dark">
        <div class="container" style="position:relative">
            <div class="row">

                @{ Html.RenderPartial("BottomNavigation"); }

            </div>
        </div>
    </footer>

    <!-- Javascripts -->
    @*<script src="/js/jquery.min.js"></script>*@
    <script src="/js/bootstrap.min.js"></script>
    <script src="/scripts/fanoe.js"></script>
    @*<script src="/js/jquery.nicescroll.min.js"></script>
    <script>
        $(document).ready(function () {
            $("html").niceScroll({ horizrailenabled: false });
        });
    </script>*@
    @RenderSection("Javascript", false)
    
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		
		ga('create', 'UA-67854777-2', 'auto');
		ga('send', 'pageview');
		
   </script>

</body>
</html>