﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
    var src = Umbraco.Media(CurrentPage.topLevelImage);
    var m = Umbraco.Media(CurrentPage.image);
}

<div style="text-align:center; width:100%; height:325px; background-size:cover; background-image: url(@src.Url);">
    <div id="transparentBox">
        <img id="theImage" src="~/images/THE.png" />
        <h3>@CurrentPage.name</h3>
    </div>
</div>

<div class="row" id="blackBox">
    <div class="container">
        @*<div class="text-center">
            <h4 style="  border-bottom: 1px solid #ffffff;width: 25%; margin: auto; padding: 10px;">@CurrentPage.name</h4>
        </div><br />*@
        <div class="text-center" style="">
            <h6>@CurrentPage.descriptionHeading</h6>
        </div>

        <div class="row">
            <div class="col-sm-6">
                @CurrentPage.leftParagraph
            </div>
            <div class="col-sm-6">
                @CurrentPage.rightParagraph
            </div>

        </div>
      

    </div>
</div>

<div class="row">
    <div class="container" style="margin-top:50px;">      
        <img src="@m.Url" alt="The Coffee Club" />  

        <div id="storeDescription">
            @CurrentPage.bottomDescription
        </div>

        @if (!string.IsNullOrEmpty(CurrentPage.youtubeUrl))
        {
            <div id="UVideo" class="text-left">
            </div>
        }
    </div>
</div>
@{Html.RenderPartial("_FooterBlock");}

<script type="text/javascript">
    var ga = document.createElement('script');
    ga.type = 'text/javascript';
    ga.async = false;
    ga.src = 'http://www.youtube.com/player_api';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(ga, s);
    var done = false;
    var player;

    function onYouTubePlayerAPIReady() {
        var url = '@CurrentPage.youtubeUrl';
        var regExp = /^.*((youtu.be\/)|(v\/)|(\/u\/\w\/)|(embed\/)|(watch\?))\??v?=?([^#\&\?]*).*/;
        var Id = '';
        var match = url.match(regExp);
        if (match && match[7].length == 11) {
            Id = match[7];
        } else {
            //alert("Could not extract video ID.");
        }

        player = new YT.Player('UVideo', {
           // height: '390',
            width: '100%',
            videoId: Id,
            playerVars: {
                controls: 0,
                disablekb: 1,
                showinfo:0
            },
            events: {
                'onReady': onPlayerReady,
                'onStateChange': onPlayerStateChange
            }
        });
    }
    function onPlayerReady(evt) {
        //console.log('onPlayerReady', evt);
    }
    function onPlayerStateChange(evt) {
        //console.log('onPlayerStateChange', evt);
        //if (evt.data == YT.PlayerState.PLAYING && !done) {
        //    setTimeout(stopVideo, 6000);
        //    done = true;
        //}
    }
    function stopVideo() {
        //console.log('stopVideo');
        //player.stopVideo();
    }
</script>