﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
    var src = Umbraco.Media(CurrentPage.topLevelImage);
}


<div style="text-align:center; width:100%; height:325px; background-size:cover; background-image: url(@src.Url);">
    <div id="transparentBox">
        <img id="theImage" src="~/images/THE.png" />
        <h3>@CurrentPage.name</h3>
    </div>
</div>

<div class="row" id="blackBox">
    <div class="container">
        @*<div class="text-center">
            <h4 style="  border-bottom: 1px solid #ffffff;width: 20%; margin: auto; padding: 10px;">FRANCHISE PROCESS</h4>
        </div>*@


        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                     <p>@CurrentPage.applicationProcess</p>
                </div>
                <div class="item">
                  
                    <p>@CurrentPage.trainingProcess</p>
                </div>

                <div class="item">
                   
                    <p>@CurrentPage.supportProcess</p>
                </div>

            </div>

            <a class="left carousel-control" style="display:none" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" style="display:none" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

    </div>
</div>


<div class="row" style="padding:10px;">
    <div class="container">

        <div id="storeDescription">
            @CurrentPage.descriptionParagraph
        </div>

       
        @if (CurrentPage.faq != null) {
        <!-- Large modal -->
        <div style="text-align:center;">
            <button type="button" class="btn btn-custom" style="width:100px;" data-toggle="modal" data-target=".bs-example-modal-lg"><b>FAQ</b></button>
        </div>
        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">                
                <div class="modal-content"> 
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">FAQ</h4>
                    </div>
                      <div class="col-md-12" id="faqBox">
                          @CurrentPage.faq
                      </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-xs btn-custom" data-dismiss="modal">Close</button>                    
                    </div>
                  </div>
                
            </div>
        </div>
        }

    </div>
</div>

@{Html.RenderPartial("_FooterBlock");}