﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
    var src = Umbraco.Media(CurrentPage.topLevelImage);
}

<div style="text-align:center; width:100%; height:325px; background-size:cover; background-image: url(@src.Url);">
    <div id="transparentBox">
        <img id="theImage" src="~/images/THE.png" />
        <h3>@CurrentPage.name</h3>
    </div>
</div>

<div class="row" id="blackBox">
    <div class="container">
        @*<div class="text-center">
            <h4 style="  border-bottom: 1px solid #ffffff;width: 25%; margin: auto; padding: 10px;">@CurrentPage.name</h4>
        </div><br />*@
        <div class="text-center" style="">
            <h6>@CurrentPage.descriptionHeading</h6>
        </div>

        <div class="row">            
            @CurrentPage.descriptionParagraph
        </div>


    </div>
</div>

<div class="row" style="margin: 20px 0px;">
    <div class="container" style="padding:0px;">
        <div class="col-sm-2"></div>
        <div class="col-sm-4" style="padding:0px 5px; ">
            <a id="testimonial1" class="html5lightbox" href="@CurrentPage.testimonial1"></a>
        </div>
        <div class="col-sm-4" style="padding:0px 5px;">
            <a id="testimonial2" class="html5lightbox" href="@CurrentPage.testimonial2"></a>
        </div>
        @*<div class="col-sm-4" style="padding:0px 5px;">
            <a id="testimonial3" class="html5lightbox" href="@CurrentPage.testimonial2"></a>
        </div>*@
    </div>
</div>


<div class="row">
    <div class="container">
        <div id="storeDescription">
            @CurrentPage.bottomDescription
        </div>
    </div>
</div>
@{Html.RenderPartial("_FooterBlock");}

@section Javascript{

<script src="~/js/html5lightbox.js"></script>
<script>
    var Youtube = (function () {
        'use strict';

        var video, results;

        var getThumb = function (url, size) {
            if (url === null) {
                return '';
            }
            size    = (size === null) ? 'big' : size;
            results = url.match('[\\?&]v=([^&#]*)');
            video   = (results === null) ? url : results[1];

            if (size === 'small') {
                return 'http://img.youtube.com/vi/' + video + '/0.jpg';
            }
            return 'http://img.youtube.com/vi/' + video + '/0.jpg';
        };

        return {
            thumb: getThumb
        };
    }());

    var thumb1 = Youtube.thumb('@CurrentPage.testimonial1', 'small');
    var thumb2 = Youtube.thumb('@CurrentPage.testimonial2', 'small');
    var thumb3 = Youtube.thumb('@CurrentPage.testimonial3', 'small');

    $(document).ready(function () {       
        $('#testimonial1').prepend($('<img>', { id: 'theImg', src: thumb1 }));
        $('#testimonial2').prepend($('<img>', { id: 'theImg2', src: thumb2 }));
        $('#testimonial3').prepend($('<img>', { id: 'theImg3', src: thumb3 }));
    });


</script>

}