﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
    var src = Umbraco.Media(CurrentPage.topLevelImage);
}

<div style="text-align:center; width:100%; height:325px; background-size:cover; background-image: url(@src.Url);">
    <div id="transparentBox">
        <img id="theImage" src="~/images/THE.png" />
        <h3>@CurrentPage.name</h3>
    </div>

  
</div>

<div class="row" id="blackBox">
    <div class="container">     
        @*<div class="text-center">
            <h4 style="  border-bottom: 1px solid #ffffff;width: 20%; margin: auto; padding: 10px;">KEY BENEFITS</h4>
        </div>*@


        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">  
                    <p>@CurrentPage.textslider1</p>                
                                   
                </div>
                <div class="item">        
                    <p>@CurrentPage.textslider2</p>                    
                </div>

                <div class="item">
                    <p>@CurrentPage.textslider3</p>              
                </div>
               
            </div>

            <a class="left carousel-control" style="display:none" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" style="display:none" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

    </div>
</div>

<div class="row text-center">
    <h4 style="border-bottom: 1px solid #000000;width: 20%; margin: auto; padding: 10px; margin-top:20px;">@CurrentPage.descriptionHeading</h4>
</div>   
<div class="row" style="padding:10px;">
    <div class="container">
       
        @*<div id="storeDescription">*@
        <div id="">
            @CurrentPage.descriptionParagraph
        </div>
    </div>   
</div>

@{Html.RenderPartial("_FooterBlock");}