﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
    var src = Umbraco.Media(CurrentPage.topLevelImage);
    var m = Umbraco.Media(CurrentPage.threeStoreImage);
}

<div style="text-align:center; width:100%; height:325px; background-size:cover; background-image: url(@src.Url);">
    <div id="transparentBox">
        <img id="theImage" src="~/images/THE.png" />
        <h3>@CurrentPage.name</h3>
    </div>
</div>

<div class="row" id="blackBox">
    <div class="container">
        @*<div class="text-center">
            <h4 style="  border-bottom: 1px solid #ffffff;width: 25%; margin: auto; padding: 10px;">STORE TYPES</h4>
        </div><br />*@
        <div class="text-center" style="">
            <h6>@CurrentPage.storeDescriptionHeader</h6>
        </div>
        
      
          @CurrentPage.storeDescription
     
    </div>
</div>
<div class="row">
    <div class="container">
        <div class="text-center">
            @*<h4 style="margin: 10px auto; padding: 10px;">THE THREE STORE MODELS WITHIN THE COFFEE CLUB ARE</h4>*@
            <h4 style="margin: 10px auto; padding: 10px;">@CurrentPage.imageHeading</h4>
        </div>
        <img src="@m.Url" alt="The Coffee Club" />

        <div class="text-center">
            @*<h4 style="  border-bottom: 1px solid #000000;width: 40%; margin: auto; padding: 10px;">SITES AND STORES AVAILABLE</h4>*@
            <h4 style="  margin: auto; padding: 10px;">@CurrentPage.bottomHeading</h4>
        </div>

        <div id="storeDescription">
            @CurrentPage.bottomDescription
        </div>
    </div>
</div>


@{Html.RenderPartial("_FooterBlock");}