﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<CoffeeClubFranchisee.Models.ApplicationForm>

@{
    IPublishedContent root = Umbraco.TypedContentAtRoot().First();
    var confidentialityDeed = root.GetProperty("confidentialityDeed").Value;
     var confidentialityPdf = root.GetProperty("confidentialityPdf").Value;
    
 }

@using (Html.BeginUmbracoForm<CoffeeClubFranchisee.Controllers.ApplicationController>("FranchiseForm", new { RedirectPage = 1108 }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset style="margin-bottom:50px;">
        <legend>Franchise Application Form</legend>
        <br />
        <div id="firstPageBox">
            <div class="row" id="partnerOne">
                <div class="col-md-6">
                    <div class="editor-label">
                        <b>PARTNER ONE</b>
                    </div>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Name)<span style="color:red; "> *</span>
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Phone)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Phone, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Phone)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Mobile)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Mobile, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Mobile)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Fax)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Fax, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Fax)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.DOB)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.DOB, new { @class = "form-control " })
                        @Html.ValidationMessageFor(model => model.DOB)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Email)<span style="color:red;"> *</span>
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control email-address-trimmer" })
                        @Html.ValidationMessageFor(model => model.Email)
                    </div>

                    <br />

                    <div class="editor-label">
                        <label>Google Auto Address Search</label>
                    </div>
                    <div class="editor-field">
                        <div id="locationField">
                            <input id="autocomplete" class="form-control" placeholder="Start typing your address..." @*onfocus="geolocate()"*@ type="text" />
                        </div>
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.StreetNumber)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.StreetNumber, new { @class = "form-control strAdd", @style = "width:20%" })
                        @Html.TextBoxFor(model => model.Address, new { @class = "form-control strAdd", @style = "width:79%;" })
                        @Html.ValidationMessageFor(model => model.StreetNumber)
                        @Html.ValidationMessageFor(model => model.Address)

                    </div>



                    <div class="editor-label">
                        @Html.LabelFor(model => model.Suburb)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Suburb, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Suburb)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.City)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.City, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.City)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Postcode)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Postcode, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Postcode)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Country)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Country, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Country)
                    </div>
                    <br />
                    <div class="editor-label">
                        <b>PREVIOUS BUSINESS /EMPLOYMENT EXPERIENCE</b>
                        <label>(Last 10 years)</label>
                    </div>
                    <table class="table">
                        <tr>
                            <td width="15%"><strong>Years</strong></td>
                            <td><strong>Position</strong></td>
                        </tr>

                        <tr>
                            <td>@Html.TextBoxFor(model => model.Years1, new { @class = "form-control" })</td>
                            <td>@Html.TextBoxFor(model => model.Position1, new { @class = "form-control" })</td>
                        </tr>

                        <tr>
                            <td>@Html.TextBoxFor(model => model.Years2, new { @class = "form-control" })</td>
                            <td>@Html.TextBoxFor(model => model.Position2, new { @class = "form-control" })</td>
                        </tr>

                        <tr>
                            <td>@Html.TextBoxFor(model => model.Years3, new { @class = "form-control" })</td>
                            <td>@Html.TextBoxFor(model => model.Position3, new { @class = "form-control" })</td>
                        </tr>

                        <tr>
                            <td>@Html.TextBoxFor(model => model.Years4, new { @class = "form-control" })</td>
                            <td>@Html.TextBoxFor(model => model.Position4, new { @class = "form-control" })</td>
                        </tr>

                        <tr>
                            <td>@Html.TextBoxFor(model => model.Years5, new { @class = "form-control" })</td>
                            <td>@Html.TextBoxFor(model => model.Position5, new { @class = "form-control" })</td>

                        </tr>

                    </table>





                    <br />
                    <div class="editor-label">
                        <b>STATEMENT OF ASSETS & LIABILITIES</b>
                    </div>
                    <br />
                    <div class="editor-label">
                        <b>ASSETS</b>
                    </div>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Bank) $
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Bank, new { @class = "form-control currencyBox", onblur = "sumAssets()" , onkeypress = "return isNumber(event)" })
                        @Html.ValidationMessageFor(model => model.Bank)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.BusinessStatement) $
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.BusinessStatement, new { @class = "form-control currencyBox", onblur = "sumAssets()", onkeypress = "return isNumber(event)" })
                        @Html.ValidationMessageFor(model => model.BusinessStatement)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.RealState) $
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.RealState, new { @class = "form-control currencyBox", onblur = "sumAssets()", onkeypress = "return isNumber(event)" })
                        @Html.ValidationMessageFor(model => model.RealState)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.ShareAndInvestment) $
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.ShareAndInvestment, new { @class = "form-control currencyBox", onblur = "sumAssets()", onkeypress = "return isNumber(event)" })
                        @Html.ValidationMessageFor(model => model.ShareAndInvestment)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Other) $
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Other, new { @class = "form-control currencyBox", onblur = "sumAssets()", onkeypress = "return isNumber(event)" })
                        @Html.ValidationMessageFor(model => model.Other)
                    </div>

                    <div class="editor-label">
                       <label>Total Assets $</label>
                    </div>
                    <div class="editor-field"> 
                        @Html.TextBoxFor(model => model.TotalAsset, new { @class = "form-control currencyBox", @readonly = "true" })                      
                       
                    </div>
                    <br />

                </div>

                <div class="col-md-6">
                    <div class="editor-label">
                        <b>LIABILITIES</b>
                    </div>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Overdrafts) $
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Overdrafts, new { @class = "form-control currencyBox", onblur = "sumLiabilities()", onkeypress = "return isNumber(event)" })
                        @Html.ValidationMessageFor(model => model.Overdrafts)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Mortages) $
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Mortages, new { @class = "form-control currencyBox", onblur = "sumLiabilities()", onkeypress = "return isNumber(event)" })
                        @Html.ValidationMessageFor(model => model.Mortages)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.CreditCards) $
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.CreditCards, new { @class = "form-control currencyBox", onblur = "sumLiabilities()", onkeypress = "return isNumber(event)" })
                        @Html.ValidationMessageFor(model => model.CreditCards)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.LiabilitiesOther) $
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.LiabilitiesOther, new { @class = "form-control currencyBox", onblur = "sumLiabilities()", onkeypress = "return isNumber(event)" })
                        @Html.ValidationMessageFor(model => model.LiabilitiesOther)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.TotalLiabilities) $
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.TotalLiabilities, new { @class = "form-control currencyBox", @readonly="true" })
                        @Html.ValidationMessageFor(model => model.TotalLiabilities)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.TotalNetWorth) $
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.TotalNetWorth, new { @class = "form-control currencyBox", @readonly="true" })
                        @Html.ValidationMessageFor(model => model.TotalNetWorth)
                    </div>
                    <br />
                    <div class="editor-label">
                        <b>  PROPOSED INVESTMENT</b>
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Cash) $
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Cash, new { @class = "form-control currencyBox", onblur = "sumProposedInvestment()", onkeypress = "return isNumber(event)" })                        
                        @Html.ValidationMessageFor(model => model.Cash)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.LoanType) $
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.LoanType, new { @class = "form-control currencyBox", onblur = "sumProposedInvestment()", onkeypress = "return isNumber(event)" })                        
                        @Html.ValidationMessageFor(model => model.LoanType)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Total) $
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Total, new { @class = "form-control currencyBox", @readonly = "true" })                        
                        @Html.ValidationMessageFor(model => model.Total)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.PreferredLocation)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.PreferredLocation, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PreferredLocation)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Timeframe)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Timeframe, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Timeframe)
                    </div>

                    <br />

                    <div class="editor-label">
                        @Html.LabelFor(model => model.WhyChosenFranchising)
                    </div>
                    <div class="editor-field">
                        @Html.TextAreaFor(model => model.WhyChosenFranchising, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.WhyChosenFranchising)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.WhatInterestsYouOverOthers)
                    </div>
                    <div class="editor-field">
                        @Html.TextAreaFor(model => model.WhatInterestsYouOverOthers, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.WhatInterestsYouOverOthers)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.MotivatingFactorsBehindOwn)
                    </div>
                    <div class="editor-field">
                        @Html.TextAreaFor(model => model.MotivatingFactorsBehindOwn, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MotivatingFactorsBehindOwn)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.AssistMakingSuccessfulFranchisee)
                    </div>
                    <div class="editor-field">
                        @Html.TextAreaFor(model => model.AssistMakingSuccessfulFranchisee, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.AssistMakingSuccessfulFranchisee)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.FindAboutFranchisingOpportunity)
                    </div>
                    <div class="editor-field">
                        @Html.TextAreaFor(model => model.FindAboutFranchisingOpportunity, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.FindAboutFranchisingOpportunity)
                    </div>
                </div>
            </div>

            <div class="editor-field">
                @Html.CheckBox("partnerTwoCheck")
                <label>Second Partner </label>
            </div>
            <hr />

            <div class="row" id="partnerTwo">
                <div class="col-md-6">
                    <div class="editor-label">
                        <b>PARTNER TWO</b>
                    </div>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Name2)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Name2, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Name2)
                    </div>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Phone2)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Phone2, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Phone2)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Mobile2)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Mobile2, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Mobile2)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Fax2)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Fax2, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Fax2)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.DOB2)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.DOB2, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DOB2)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Email2)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Email2, new { @class = "form-control email-address-trimmer" })
                        @Html.ValidationMessageFor(model => model.Email2)
                    </div>
                    <br />

                    <div class="editor-label">
                        <label>Google Auto Address Search</label>
                    </div>
                    <div class="editor-field">
                        <div id="locationField">
                            <input id="autocompleteBilling" class="form-control" placeholder="Start typing your address..."
                                   @*onfocus="geolocate()"*@ type="text" />
                        </div>
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.StreetNumber2)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.StreetNumber2, new { @class = "form-control strAdd", @style = "width:20%" })
                        @Html.TextBoxFor(model => model.Address2, new { @class = "form-control strAdd", @style = "width:79%;" })
                        @Html.ValidationMessageFor(model => model.StreetNumber2)
                        @Html.ValidationMessageFor(model => model.Address2)

                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Suburb2)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Suburb2, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Suburb2)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.City2)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.City2, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.City2)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Postcode2)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Postcode2, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Postcode2)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Country2)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Country2, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Country2)
                    </div>
                    <br />
                    <div class="editor-label">
                        <b>PREVIOUS BUSINESS /EMPLOYMENT EXPERIENCE</b>
                        <label>(Last 10 years)</label>
                    </div>
                    <table class="table">
                        <tr>
                            <td width="15%"><strong>Years</strong></td>
                            <td><strong>Position</strong></td>
                        </tr>

                        <tr>
                            <td>@Html.TextBoxFor(model => model.Years12, new { @class = "form-control" })</td>
                            <td>@Html.TextBoxFor(model => model.Position12, new { @class = "form-control" })</td>
                        </tr>

                        <tr>
                            <td>@Html.TextBoxFor(model => model.Years22, new { @class = "form-control" })</td>
                            <td>@Html.TextBoxFor(model => model.Position22, new { @class = "form-control" })</td>
                        </tr>

                        <tr>
                            <td>@Html.TextBoxFor(model => model.Years32, new { @class = "form-control" })</td>
                            <td>@Html.TextBoxFor(model => model.Position32, new { @class = "form-control" })</td>
                        </tr>

                        <tr>
                            <td>@Html.TextBoxFor(model => model.Years42, new { @class = "form-control" })</td>
                            <td>@Html.TextBoxFor(model => model.Position42, new { @class = "form-control" })</td>
                        </tr>

                        <tr>
                            <td>@Html.TextBoxFor(model => model.Years52, new { @class = "form-control" })</td>
                            <td>@Html.TextBoxFor(model => model.Position52, new { @class = "form-control" })</td>

                        </tr>
                    </table>
                    <br />
                    <div class="editor-label">
                        <b>STATEMENT OF ASSETS & LIABILITIES</b>
                    </div>
                    <br />
                    <div class="editor-label">
                        <b>ASSETS</b>
                    </div>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Bank2) $
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Bank2, new { @class = "form-control currencyBox", onblur = "sumAssets2()", onkeypress = "return isNumber(event)" })
                        @Html.ValidationMessageFor(model => model.Bank2)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.BusinessStatement2) $
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.BusinessStatement2, new { @class = "form-control currencyBox", onblur = "sumAssets2()", onkeypress = "return isNumber(event)" })
                        @Html.ValidationMessageFor(model => model.BusinessStatement2)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.RealState2) $
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.RealState2, new { @class = "form-control currencyBox", onblur = "sumAssets2()", onkeypress = "return isNumber(event)" })
                        @Html.ValidationMessageFor(model => model.RealState2)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.ShareAndInvestment2) $
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.ShareAndInvestment2, new { @class = "form-control currencyBox", onblur = "sumAssets2()", onkeypress = "return isNumber(event)" })
                        @Html.ValidationMessageFor(model => model.ShareAndInvestment2)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Other2) $
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Other2, new { @class = "form-control currencyBox", onblur = "sumAssets2()", onkeypress = "return isNumber(event)" })
                        @Html.ValidationMessageFor(model => model.Other2)
                    </div>

                    <div class="editor-label">
                        <label>Total Assets $</label>
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.TotalAsset2, new { @class = "form-control currencyBox", @readonly = "true" })                       
                      
                    </div>
                    <br />

                </div>
                <div class="col-md-6">

                    <div class="editor-label">
                        <b>LIABILITIES</b>
                    </div>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Overdrafts2) $
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Overdrafts2, new { @class = "form-control currencyBox", onblur = "sumLiabilities2()", onkeypress = "return isNumber(event)" })
                        @Html.ValidationMessageFor(model => model.Overdrafts2)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Mortages2) $
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Mortages2, new { @class = "form-control currencyBox", onblur = "sumLiabilities2()", onkeypress = "return isNumber(event)" })
                        @Html.ValidationMessageFor(model => model.Mortages2)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.CreditCards2) $
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.CreditCards2, new { @class = "form-control currencyBox", onblur = "sumLiabilities2()", onkeypress = "return isNumber(event)" })
                        @Html.ValidationMessageFor(model => model.CreditCards2)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.LiabilitiesOther2) $
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.LiabilitiesOther2, new { @class = "form-control currencyBox", onblur = "sumLiabilities2()", onkeypress = "return isNumber(event)" })
                        @Html.ValidationMessageFor(model => model.LiabilitiesOther2)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.TotalLiabilities2) $
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.TotalLiabilities2, new { @class = "form-control currencyBox", @readonly = "true" })
                        @Html.ValidationMessageFor(model => model.TotalLiabilities2)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.TotalNetWorth2) $
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.TotalNetWorth2, new { @class = "form-control currencyBox", @readonly = "true" })
                        @Html.ValidationMessageFor(model => model.TotalNetWorth2)
                    </div>
                    <br />
                    <div class="editor-label">
                        <b>  PROPOSED INVESTMENT</b>
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Cash2) $
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Cash2, new { @class = "form-control currencyBox", onblur = "sumProposedInvestment2()", onkeypress = "return isNumber(event)" })                      
                        @Html.ValidationMessageFor(model => model.Cash2)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.LoanType2) $
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.LoanType2, new { @class = "form-control currencyBox", onblur = "sumProposedInvestment2()", onkeypress = "return isNumber(event)" })                        
                        @Html.ValidationMessageFor(model => model.LoanType2)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Total2) $
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Total2, new { @class = "form-control currencyBox", @readonly = "true" })                      
                        @Html.ValidationMessageFor(model => model.Total2)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.PreferredLocation2)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.PreferredLocation2, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PreferredLocation2)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Timeframe2)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Timeframe2, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Timeframe2)
                    </div>
                    <br />
                    <div class="editor-label">
                        @Html.LabelFor(model => model.WhyChosenFranchising2)
                    </div>
                    <div class="editor-field">
                        @Html.TextAreaFor(model => model.WhyChosenFranchising2, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.WhyChosenFranchising2)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.WhatInterestsYouOverOthers2)
                    </div>
                    <div class="editor-field">
                        @Html.TextAreaFor(model => model.WhatInterestsYouOverOthers2, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.WhatInterestsYouOverOthers2)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.MotivatingFactorsBehindOwn2)
                    </div>
                    <div class="editor-field">
                        @Html.TextAreaFor(model => model.MotivatingFactorsBehindOwn2, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MotivatingFactorsBehindOwn2)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.AssistMakingSuccessfulFranchisee2)
                    </div>
                    <div class="editor-field">
                        @Html.TextAreaFor(model => model.AssistMakingSuccessfulFranchisee2, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.AssistMakingSuccessfulFranchisee2)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.FindAboutFranchisingOpportunity2)
                    </div>
                    <div class="editor-field">
                        @Html.TextAreaFor(model => model.FindAboutFranchisingOpportunity2, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.FindAboutFranchisingOpportunity2)
                    </div>
                </div>
            </div>          

            <br />
            <p>The above information and further information exchanged is confidential and will be treated as such. All parties agree that the contents are for information purposes only and neither obligates The Coffee Club or the prospective Franchisee to grant or accept any Franchise.</p>
            <br />
            <p>
                <input style="width:100px;" class="btn btn-success" id="nextButton" type="submit" value="Next" />
            </p>
        </div>

        <div class="row" id="page3" style="display:none">
            
            <h3>CONFIDENTIALITY DEED</h3><br />                  

            <b>TO:</b> The Coffee Club Franchising (NZ) Limited (“Franchisor”) <br /><br />
            <b>BY:</b> Jointly and severelly the party/ies described in the signing provision as the Applicant (“Applicant”)

            @confidentialityDeed
            
            @*<p><b>A.</b> The Franchisor is the owner, licensor, in possession of, has acquired and/or developed considerable valuable information in relation to The Coffee Club system, intellectual property, franchisees, and business (“The Coffee Club Business“).</p>
            <p><b>B.</b> The Applicant seeks to apply for a The Coffee Club franchise and as such seeks to be given or disclosed information in relation to The Coffee Club Business.</p>
            <p><b>C.</b> The Franchisor is willing to disclose to the Applicant certain Confidential Information in respect to The Coffee Club Business in accordance with the terms of this Deed.</p>
            <p><b>D.</b> The Applicant acknowledges the Franchisor’s right to preserve and protect the confidentiality of the Confidential Information.</p>

            <p style="margin-left: 20px;"><b>1.1.</b> “Confidential Information” means for these purposes of this Deed:</p>

            <p style="margin-left: 50px;"><b>(a)</b> all information of or used by the Franchisor and/or its associates, relating to the The Coffee Club Franchise, System, Intellectual Property and their transactions, operations and affairs and The Coffee Club’s asssociates and franchisees; and/or</p>
            <p style="margin-left: 50px;"><b>(b)</b> all other information advised or treated by the Franchisor as confidential; and/or </p>
            <p style="margin-left: 50px;"><b>(c)</b> all notes, data, reports and other records (whether or not in tangible form) based on, incorporating or derived from information referred to in paragraphs (a) or (b); and/or </p>
            <p style="margin-left: 50px;"><b>(d)</b> all copies (whether or not in tangible form) of the information, notes, reports and records and referred to in paragraphs (a), (b), (c); and </p>
            <p style="margin-left: 50px;"><b>(e)</b> that is not public knowledge (otherwise than as a result of a breach of a confidentiality obligation of a party). </p>


            <p style="margin-left: 20px;"><b>1.2</b> The Applicant:</p>
            <p style ="margin-left: 50px;"><b>(a)</b>must keep confidential any Confidential Information disclosed to the Applicant and/or its associates by the Franchisor or its representatives, or of which the Applicant becomes aware, except information which is public knowledge otherwise than as a result of an unauthroised disclosure or breach of confidentiality by the Applicant, its associates or any of its permitted discloses; and</p>
            <p style="margin-left: 50px;"><b>(b)</b>may disclose any Confidential Information in respect of which the Applicant has an obligation of confidentiality under paragraph (I) only:</p>
            <p style="margin-left: 50px;"><b>(i)</b>to those of the Applicant’s officers or employees or financial, legal or other advisers who: </p>
            <p style="margin-left: 50px;"><b>(A)</b>have a need to know for the purposes of determining whether to enter into a The Coffee Club Franchise; and  </p>
            <p style="margin-left: 50px;"><b>(B)</b>undertake to the Applicant (and, where required by the Franchisor, to the Franchisor also) a corresponding obligation of confidentiality to that undertaken by the Applicant under this clause 1.2; or</p>
            <p style="margin-left: 50px;"><b>(ii)</b> with the prior express written approval of the Franchisor</p>

            <p style="margin-left: 20px;"><b>2.1</b> This Deed is governed by the laws of New Zealand and the parties expressly submit to the exclusive jurisdiction of the courts of that country. </p>
            <p style="margin-left: 20px;"><b>2.2</b> If any provision of this Deed should be held to be invalid in any way or unenforceable it shall be severed and the remaining provisions shall not in any way be affected or impaired and this Deed shall be construed so as to most nearly give effect to the intent of the parties as it was originally executed. </p>
            <p style="margin-left: 20px;"><b>2.3</b> No delay or omission by either party to exercise any right, power or remedy occurring hereunder shall exhaust or injure any such right, power or remedy or shall be construed to be a waiver of any such right, power or remedy. </p>
            <p style="margin-left: 20px;"><b>2.4</b> The Applicant executes this Agreement as a Deed.</p>*@


            <br />
            @*<p><b>If you  prefer, you can <a target="_blank" href="~/images/TCCFNZConfidentialityDeed.pdf">click here to download</a> the Confidentiality Deed.</b></p>*@
                    
            <p><b>If you  prefer, you can <a target="_blank" href="@confidentialityPdf">click here to download</a> the Confidentiality Deed.</b></p>
            <p>@Html.CheckBox("termsCondsCheckBox") <span for="termsCondsCheckBox"> <b>By selecting this the applicant confirms all the information provided is accurate and you agree to the terms of the Confidentiality Deed as above.</b></span></p><br />
           
            <div class="row marginontop">
                <div class="col-md-5 columns">
                    <img id="m_imgCaptcha2" src="" style="width: 70%; height: 50px;" /> <span style="position:relative; top:-20px; "><a onclick="loadCaptcha2()">Next Image</a></span> <br />
                    @Html.TextBoxFor(x => x.Captcha, new { @class = "form-control", placeholder = "Enter 4 digit code from above" })
                    @*<input id="m_btValidate2" type="button" value="Validate" onclick="btValidate2()" />*@
                </div>
            </div>
            
             <p><input style="width:100px;" class="btn btn-success" id="submitButton" type="submit" value="Submit" />  <input style="width:100px;" class="btn btn-danger" id="backButton" type="submit" value="Back" />  </p>

        </div>
    </fieldset>
}


<style>
    textarea{
        min-height:100px;
        max-width:100%;
    }
    .strAdd{
        display:inline;
    }

    p {
        margin-top:10px;
    }
</style>

<script src="~/scripts/maskedTextbox.js"></script>
<script>
    //document.getElementById("submitButton").disabled = true;
    $(document).ready(function () {
        loadCaptcha2();

    });
    function loadCaptcha2() {
        $.ajax({
            type: 'GET',
            url: '/umbraco/surface/Application/generateCaptcha2',
            dataType: "json",
            cache: false,
            success: function (data) { $("#m_imgCaptcha2").attr('src', '/CaptchaImages/' + data.ImgUrl);  },
            error: function (data) { alert("Error while loading captcha image") }
        });
    }
    //function btValidate2() {
    //    var valueInput = document.getElementById("m_tbCaptcha2").value;
    //    var sessionValue = document.getElementById("hiddenSession2").value;

    //    if (valueInput == sessionValue) {
    //        document.getElementById("submitButton").disabled = false;
    //    }
    //    else {
    //        alert("Code didn't match.");
    //        document.getElementById("submitButton").disabled = true;
    //    }
    //}
</script>

<script>
    $(document).ready(function () {

        $(window).keydown(function (event) {
            if (event.keyCode == 13) {
                event.preventDefault();
                return false;
            }
        });
        
        //$(".currencyBox").mask("9?99999999999");
        $(".email-address-trimmer").blur(function () {
            var textEntered = $(this).val();
            console.log(textEntered);
            $(this).val(textEntered.trim());            
        });
   
        $("#nextButton").click(function (e) {         
            var name = $('#Name').val();
            var email = $('#Email').val();
            if (name.length == 0 && email.length == 0) {
                alert("Some of the required fields are empty");
                e.preventDefault();
                return false;
            }
            if (name.length == 0) {
                alert("Name is required.");
                e.preventDefault();
                return false;
            }

            if (email.length == 0) {
                alert("Email is required.");
                e.preventDefault();
                return false;
            }

            if (email != 0) {
                if (isValidEmailAddress(email)) {
                    $("#email2").css({
                        "background-color": "none"
                    });
                } else {
                    $("#email2").css({
                        "background-color": "#DCB286"
                    });
                    alert("Invalid Email");
                    return false;
                }
            } else {
                $("#email2").css({
                    "background-color": "none"
                });
            }
            e.preventDefault();
            $("#firstPageBox").hide();
            $("#page3").show();
        });

        $("#backButton").click(function (e) {
            e.preventDefault();
            $("#firstPageBox").show();
            $("#page3").hide();
        });


        $("#submitButton").click(function (e) {
            if (!$("#termsCondsCheckBox").is(":checked")) {
                e.preventDefault();
                alert("Please confirm all the information provided is accurate and you agree to the terms of the Confidentiality Deed as above.");
                return;
            }
        });

        check = $("#partnerTwoCheck").is(":checked");
        if (check) {
            $('#partnerTwo').show("fast");
        } else {
            $('#partnerTwo').hide("fast");
        }

        $('#partnerTwoCheck').change(function () {
            if (!this.checked) {
                $('#partnerTwo').hide("fast");
            }
            else {
                $('#partnerTwo').show("fast");
            }
        });
    });


    function isValidEmailAddress(emailAddress) {
        var pattern = new RegExp(/^(("[\w-\s]+")|([\w-]+(?:\.[\w-]+)*)|("[\w-\s]+")([\w-]+(?:\.[\w-]+)*))(@@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$)|(@@\[?((25[0-5]\.|2[0-4][0-9]\.|1[0-9]{2}\.|[0-9]{1,2}\.))((25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\.){2}(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\]?$)/i);
        return pattern.test(emailAddress);
    }

    //part 1 assets   
    function sumAssets() {
        var Bank = document.getElementById('Bank').value;
        var BusinessStatement = document.getElementById('BusinessStatement').value;
        var RealState = document.getElementById('RealState').value;
        var ShareAndInvestment = document.getElementById('ShareAndInvestment').value;
        var Other = document.getElementById('Other').value;

        if (Bank == "")
            Bank = 0;
        if (BusinessStatement == "")
            BusinessStatement = 0;
        if (RealState == "")
            RealState = 0;
        if (ShareAndInvestment == "")
            ShareAndInvestment = 0;
        if (Other == "")
            Other = 0;

        var result1 = parseFloat(Bank) + parseFloat(BusinessStatement) + parseFloat(RealState) + parseFloat(ShareAndInvestment) + parseFloat(Other);
        if (!isNaN(result1)) {
            document.getElementById('TotalAsset').value = result1;
        }

        //For Total Net Worth
        var totalAssetsToCalculate = document.getElementById('TotalAsset').value;
        var totalLiabilitiesToCalculate = document.getElementById('TotalLiabilities').value;
        if (totalAssetsToCalculate == "")
            totalAssetsToCalculate = 0;
        if (totalLiabilitiesToCalculate == "")
            totalLiabilitiesToCalculate = 0;

        var totalNetWorth = parseFloat(totalAssetsToCalculate) - parseFloat(totalLiabilitiesToCalculate);
        if (!isNaN(totalNetWorth)) {
            document.getElementById('TotalNetWorth').value = totalNetWorth;
        }
        
    }

    //part 1 assets2   
    function sumAssets2() {
        var Bank = document.getElementById('Bank2').value;
        var BusinessStatement = document.getElementById('BusinessStatement2').value;
        var RealState = document.getElementById('RealState2').value;
        var ShareAndInvestment = document.getElementById('ShareAndInvestment2').value;
        var Other = document.getElementById('Other2').value;

        if (Bank == "")
            Bank = 0;
        if (BusinessStatement == "")
            BusinessStatement = 0;
        if (RealState == "")
            RealState = 0;
        if (ShareAndInvestment == "")
            ShareAndInvestment = 0;
        if (Other == "")
            Other = 0;

        var result1 = parseFloat(Bank) + parseFloat(BusinessStatement) + parseFloat(RealState) + parseFloat(ShareAndInvestment) + parseFloat(Other);
        if (!isNaN(result1)) {
            document.getElementById('TotalAsset2').value = result1;
        }

        //For Total Net Worth
        var totalAssetsToCalculate = document.getElementById('TotalAsset2').value;
        var totalLiabilitiesToCalculate = document.getElementById('TotalLiabilities2').value;
        if (totalAssetsToCalculate == "")
            totalAssetsToCalculate = 0;
        if (totalLiabilitiesToCalculate == "")
            totalLiabilitiesToCalculate = 0;

        var totalNetWorth = parseFloat(totalAssetsToCalculate) - parseFloat(totalLiabilitiesToCalculate);
        if (!isNaN(totalNetWorth)) {
            document.getElementById('TotalNetWorth2').value = totalNetWorth;
        }

    }

    //part 2 Liabilities   
    function sumLiabilities() {
        var Overdrafts = document.getElementById('Overdrafts').value;
        var Mortages = document.getElementById('Mortages').value;
        var CreditCards = document.getElementById('CreditCards').value;
        var LiabilitiesOther = document.getElementById('LiabilitiesOther').value;        

        if (Overdrafts == "")
            Overdrafts = 0;
        if (Mortages == "")
            Mortages = 0;
        if (CreditCards == "")
            CreditCards = 0;
        if (LiabilitiesOther == "")
            LiabilitiesOther = 0;      

        var result2 = parseFloat(Overdrafts) + parseFloat(Mortages) + parseFloat(CreditCards) + parseFloat(LiabilitiesOther);
        if (!isNaN(result2)) {
            document.getElementById('TotalLiabilities').value = result2;
        }

        //For Total Net Worth
        var totalAssetsToCalculate = document.getElementById('TotalAsset').value;
        var totalLiabilitiesToCalculate = document.getElementById('TotalLiabilities').value;
        if (totalAssetsToCalculate == "")
            totalAssetsToCalculate = 0;
        if (totalLiabilitiesToCalculate == "")
            totalLiabilitiesToCalculate = 0;

        var totalNetWorth = parseFloat(totalAssetsToCalculate) - parseFloat(totalLiabilitiesToCalculate);
        if (!isNaN(totalNetWorth)) {
            document.getElementById('TotalNetWorth').value = totalNetWorth;
        }
    }

    //part 2 Liabilities2   
    function sumLiabilities2() {
        var Overdrafts = document.getElementById('Overdrafts2').value;
        var Mortages = document.getElementById('Mortages2').value;
        var CreditCards = document.getElementById('CreditCards2').value;
        var LiabilitiesOther = document.getElementById('LiabilitiesOther2').value;

        if (Overdrafts == "")
            Overdrafts = 0;
        if (Mortages == "")
            Mortages = 0;
        if (CreditCards == "")
            CreditCards = 0;
        if (LiabilitiesOther == "")
            LiabilitiesOther = 0;

        var result2 = parseFloat(Overdrafts) + parseFloat(Mortages) + parseFloat(CreditCards) + parseFloat(LiabilitiesOther);
        if (!isNaN(result2)) {
            document.getElementById('TotalLiabilities2').value = result2;
        }

        //For Total Net Worth
        var totalAssetsToCalculate = document.getElementById('TotalAsset2').value;
        var totalLiabilitiesToCalculate = document.getElementById('TotalLiabilities2').value;
        if (totalAssetsToCalculate == "")
            totalAssetsToCalculate = 0;
        if (totalLiabilitiesToCalculate == "")
            totalLiabilitiesToCalculate = 0;

        var totalNetWorth = parseFloat(totalAssetsToCalculate) - parseFloat(totalLiabilitiesToCalculate);
        if (!isNaN(totalNetWorth)) {
            document.getElementById('TotalNetWorth2').value = totalNetWorth;
        }
    }
    //part 1
    function sumProposedInvestment() {
        var Cash = document.getElementById('Cash').value;
        var LoanType = document.getElementById('LoanType').value;
        
        if (Cash == "")
            Cash = 0;
        if (LoanType == "")
            LoanType = 0;      

        var result2 = parseFloat(Cash) + parseFloat(LoanType);
        if (!isNaN(result2)) {
            document.getElementById('Total').value = result2;
        }        
    }

    //part 1
    function sumProposedInvestment2() {
        var Cash = document.getElementById('Cash2').value;
        var LoanType = document.getElementById('LoanType2').value;

        if (Cash == "")
            Cash = 0;
        if (LoanType == "")
            LoanType = 0;

        var result2 = parseFloat(Cash) + parseFloat(LoanType);
        if (!isNaN(result2)) {
            document.getElementById('Total2').value = result2;
        }
    }





    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }

</script>

<script type="text/javascript"src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCYlU4hpRlUI6jYuG7u0WMKGvwbwrxvkVg&libraries=places">

</script>

<script>
    /* Google Places Autocomplete */
    var placeSearch, autocomplete, autocompleteBilling;
    var componentForm = {
        street_number: 'short_name',
        route: 'long_name',
        sublocality_level_1: 'long_name',
        locality: 'long_name',
        country: 'long_name',
        postal_code: 'short_name'
    };
    var addrFields = {
        street_number: "StreetNumber",
        route: "Address",
        sublocality_level_1: "Suburb",
        locality: "City",
        country: "Country",
        postal_code: "Postcode",
    };
    var billingAddrFields = {
        street_number: "StreetNumber2",
        route: "Address2",
        sublocality_level_1: "Suburb2",
        locality: "City2",
        country: "Country2",
        postal_code: "Postcode2",
    };

    function initialize() {
        // Create the autocomplete object, restricting the search
        // to geographical location types.
        autocomplete = new google.maps.places.Autocomplete(
            /** type {HTMLInputElement} */
            (document.getElementById('autocomplete')),
            { types: ['geocode'] });
        autocompleteBilling = new google.maps.places.Autocomplete(
            /** type {HTMLInputElement} */
            (document.getElementById('autocompleteBilling')),
            { types: ['geocode'] });
        // When the user selects an address from the dropdown,
        // populate the address fields in the form.
        google.maps.event.addListener(autocomplete, 'place_changed', function () {
            fillInAddress(false);
        });
        google.maps.event.addListener(autocompleteBilling, 'place_changed', function () {
            fillInAddress(true);
        });
    }
    google.maps.event.addDomListener(window, 'load', initialize);

    // [START region_fillform]
    function fillInAddress(isBilling) {
        // Get the place details from the autocomplete object.
        var place;

        if (!isBilling) {
            place = autocomplete.getPlace();
            for (var addrField in addrFields) {
                console.log(document.getElementById(addrFields[addrField]));
                document.getElementById(addrFields[addrField]).value = '';
                document.getElementById(addrFields[addrField]).disabled = false;
            }
        }
        else {
            place = autocompleteBilling.getPlace();
            for (var billindAddrField in billingAddrFields) {
                document.getElementById(billingAddrFields[billindAddrField]).value = '';
                document.getElementById(billingAddrFields[billindAddrField]).disabled = false;
            }
        }

        // Get each component of the address from the place details
        // and fill the corresponding field on the form.
        for (var i = 0; i < place.address_components.length; i++) {
            var addressType = place.address_components[i].types[0];

            if (componentForm[addressType]) {
                var val = place.address_components[i][componentForm[addressType]];
                if (!isBilling) {
                    document.getElementById(addrFields[addressType]).value = val;
                }
                else {
                    document.getElementById(billingAddrFields[addressType]).value = val;
                }
            }
        }
    }
    // [END region_fillform]

    // [START region_geolocation]
    // Bias the autocomplete object to the user's geographical location,
    // as supplied by the browser's 'navigator.geolocation' object.
    function geolocate() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                var geolocation = new google.maps.LatLng(
                    position.coords.latitude, position.coords.longitude);
                autocomplete.setBounds(new google.maps.LatLngBounds(geolocation,
                    geolocation));
            });
        }
    }
    // [END region_geolocation]


</script>


