﻿<div class="row" >
    <div class="container home-block hidden-sm hidden-xs" style="color:white;">
        <div class="row" style="margin-bottom:20px;">
            <img style="width:30%; margin-left:35%;" src="/media/Join-the-club.png" />
            <img style="width: 24%;margin-top: 5px;margin-left: 38%;" src="/media/new-logo-for-website.png" />
        </div>

        <div class="col-sm-4 text-center">
            <h6>FRANCHISE</h6>
            <h3>BENEFITS</h3>
            <p><a href="/benefits" class="btnBottom">MORE</a></p>

        </div>
        <div class="col-sm-4 text-center">
            <h6>FRANCHISE</h6>
            <h3>OPPORTUNITIES</h3>
            <p><a href="/opportunities" class="btnBottom">ENTER</a></p>

        </div>
        <div class="col-sm-4 text-center">
            <h6>FRANCHISE</h6>
            <h3>APPLICATION</h3>
            <p><a href="/application" class="btnBottom">APPLY</a></p>
        </div>
    </div>
</div>
