﻿<div class="row home-block" style="background-image:url(/media/footer.jpg); color:#ffffff; background-size: cover; padding-top:50px; overflow:hidden; margin: 0px;padding-bottom:50px; height:250px;">
    <div class="container">
        <div class="hidden-sm hidden-xs col-sm-4 text-center bottomLink">
            <h6>FRANCHISE</h6>
            <h3>BENEFITS</h3>
            <p><a href="/benefits" class="btnBottom">MORE</a></p>

        </div>
        <div class="hidden-sm hidden-xs col-sm-4 text-center bottomLink">
            <h6>FRANCHISE</h6>
            <h3>OPPORTUNITIES</h3>
            <p><a href="/opportunities" class="btnBottom">ENTER</a></p>

        </div>
        <div class="hidden-sm hidden-xs col-sm-4 text-center bottomLink">
            <h6>FRANCHISE</h6>
            <h3>APPLICATION</h3>
            <p><a href="/application" class="btnBottom">APPLY</a></p>
        </div>

        <div class="visible-sm visible-xs" id="responsiveFooterBlock">
            <ul>
                <li><a href="/benefits">FRANCHISE BENEFITS</a></li>
                <li><a href="/opportunities">FRANCHISE OPPORTUNITIES</a></li>
                <li><a href="/application">FRANCHISE APPLICATION</a></li>
            </ul>
        </div>

    </div>
</div>
