﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@*@{ 
    var home = CurrentPage.Site();
}*@


<ul id="mobileSocialIcon" class="visible-xs visible-sm ">
    <li style="border:none;"><a href="https://www.facebook.com/thecoffeeclubnz" target="_blank"><img style="width: 33px;" class="socialIconsMobile" src="~/images/facebook.png" alt="coffee_club" /></a></li>
   
    <li style="border:none"><a href="https://instagram.com/thecoffeeclubnz/" target="_blank"><img style="width: 33px;" class="socialIconsMobile" src="~/images/instagram.png" alt="coffee_club" /></a></li>
    <li style="border:none"><a href="https://www.youtube.com/user/TheCoffeeClubNZ/" target="_blank"><img style="width: 33px;" class="socialIconsMobile" src="~/images/YouTubeIcon.png" alt="coffee_club" /></a></li>
    
</ul>

<ul id="footerNav" class="hidden-xs hidden-sm">
    <li style="border:none; margin-right:-9px;"><a href="https://www.facebook.com/thecoffeeclubnz" target="_blank"><img style="width: 33px;" class="socialIcons" src="~/images/facebook.png" alt="coffee_club" /></a></li>
    
    <li style="border:none; margin-right:-9px;"><a href="https://instagram.com/thecoffeeclubnz/" target="_blank"><img style="width: 33px;" class="socialIcons" src="~/images/instagram.png" alt="coffee_club" /></a></li>
    <li style="border:none; margin-right:-9px;"><a href="https://www.youtube.com/user/TheCoffeeClubNZ/" target="_blank"><img style="width: 33px;" class="socialIcons" src="~/images/YouTubeIcon.png" alt="coffee_club" /></a></li>
    
    <li><a href="/application">FRANCHISE APPLICATION</a></li>  
    <li><a href="/testimonials">TESTIMONIALS</a></li>
    <li><a href="/benefits">BENEFITS</a></li> 
    <li><a href="/brand">BRAND</a></li>
    <li><a href="/process">PROCESS</a></li>
    <li><a href="/opportunities">OPPORTUNITIES</a></li>    
    <li><a href="/contacts">CONTACT US</a></li>
</ul>

















@*@if (home.Children.Where("Visible").Any())
{
 
    foreach (var childPage in home.Children.Where("Visible"))
    {   
        <div class="col-xs-6 col-sm-3">
            @if (childPage.Children.Where("Visible").Any())
            {                    
                <strong>@childPage.Name</strong>
                @childPages(childPage.Children)
            }
        </div>
    }
}*@

@*<div class="col-xs-6 col-sm-3">
    <strong>Find us</strong>
    <ul>
        <li>
            <a href="https://twitter.com/umbracoproject" target="_blank">Twitter</a>
        </li>
        <li>
            <a href="https://www.facebook.com/Umbraco" target="_blank">Facebook</a>
        </li>
        <li>
            <a href="http://umbraco.com/?utm_source=core&utm_medium=starterkit&utm_content=topic-link&utm_campaign=fanoe" target="_blank">Umbraco.com</a>
        </li>
    </ul>
</div>*@

@*@helper childPages(dynamic pages)
{

    if (pages.Any())
    {
        <ul>
            @foreach (var page in pages.Where("Visible"))
            {
                <li>
                    <a href="@page.Url">@page.Name</a>
                </li>
            }
        </ul>
    }
}*@