﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<CoffeeClubFranchisee.Models.ContactModel>

@using (Html.BeginUmbracoForm<CoffeeClubFranchisee.Controllers.ContactController>("ContactForm", new { RedirectPage = 1123 }))
{
    <div class="col-sm-12">
        <div class="row marginontop">
            <div class="col-md-3 columns">               
                <label for="Name" class="right inline">Name</label>
            </div>
            <div class="col-md-9 columns">
                @Html.TextBoxFor(x => x.Name, new { @class = "form-control", placeholder = "Your Name" })
                @Html.ValidationMessageFor(x => x.Name)
            </div>
        </div>
        <div class="row marginontop">
            <div class="col-md-3 columns">
                <label for="Email" class="right inline">Email</label>
            </div>
            <div class="col-md-9 columns">
                @Html.TextBoxFor(x => x.Email, new { @class = "form-control", placeholder = "Your Email Address" })
                @Html.ValidationMessageFor(x => x.Email)
            </div>
        </div>
        <div class="row marginontop">
            <div class="col-md-3 columns">
                <label for="Phone" class="right inline">Phone</label>
            </div>
            <div class="col-md-9 columns">
                @Html.TextBoxFor(x => x.Phone, new { @class = "form-control", placeholder = "Phone" })
                @Html.ValidationMessageFor(x => x.Phone)
            </div>
        </div>

        <div class="row marginontop">
            <div class="col-md-3 columns">
                <label for="Subject" class="right inline">Subject</label>
            </div>
            <div class="col-md-9 columns">
                @Html.TextBoxFor(x => x.Subject, new { @class = "form-control", placeholder = "Regarding" })
                @Html.ValidationMessageFor(x => x.Subject)
            </div>
        </div>
        <div class="row marginontop">
            <div class="col-md-3 columns">
                <label for="Message" class="right inline">Message</label>
            </div>
            <div class="col-md-9 columns">
                @Html.TextAreaFor(x => x.Message, new { @class = "form-control", placeholder = "Message", @style = "min-height:100px;  max-width: 100%;" })
                @Html.ValidationMessageFor(x => x.Message)
            </div>
        </div>

        <div class="row marginontop">
            <div class="col-md-3 columns">
                <input id="hiddenSession" type="hidden" value="" />
            </div>
            <div class="col-md-9 columns">
                <img id="m_imgCaptcha" src="" style="width: 70%; height: 50px;" /> <span style="position:relative; top:-20px; "><a onclick="loadCaptcha()">Next Image</a></span> <br />
                @*<input type="text" id="m_tbCaptcha" class="form-control" placeholder="Enter 4 digit code from above" style="" /><br />*@
                @Html.TextBoxFor(x => x.Captcha, new { @class = "form-control", placeholder = "Enter 4 digit code from above" })
                @*<input id="m_btValidate" type="button" value="Validate" onclick="btValidate()" />*@
            </div>
        </div>

        <div class="row marginontop">
            <div class="col-md-9 col-md-offset-3 columns">
                <input type="submit" class="btn btn-primary" id="submitButton1" style="width:100px;" value="Send" />
            </div>
        </div>
        <div class="row marginontop">

        </div>
    </div>
}

<script>
    //document.getElementById("submitButton1").disabled = true;
    $(document).ready(function () {
        loadCaptcha();
    });
    function loadCaptcha() {
        $.ajax({
            type: 'GET',
            url: '/umbraco/surface/Application/generateCaptcha',
            dataType: "json",
            cache: false,
            success: function (data) { $("#m_imgCaptcha").attr('src', '/CaptchaImages/' + data.ImgUrl);  },
            error: function (data) { alert("Error while loading captcha image") }
        });
    }
    //function btValidate() {
    //    var valueInput = document.getElementById("m_tbCaptcha").value;
    //    var sessionValue = document.getElementById("hiddenSession").value;

    //    if (valueInput == sessionValue)
    //    {
    //        document.getElementById("submitButton1").disabled = false;
    //    }
    //    else {
    //        alert("Code didn't match.");
    //        document.getElementById("submitButton1").disabled = true;
    //    }
    //}
</script>

<style>
    .marginontop {
        margin-top: 20px;
    }
</style>

