/* Go crazy with your own styles here */
* {
    font-size: 10px;   
}

p {
      line-height: 20px;
}

nav ul li:last-child a, #footerNav li:last-child {
  border: none;
}

.field-validation-error{
    color:rgba(217, 9, 44, 1);
    font-size: 12px;
    
}
.input-validation-error{  
    border-color: rgba(217, 9, 44, 1);   
}
.row {
    margin-left:0px !important;
     margin-right:0px !important;
    padding-left:1px;
    padding-right:1px;
}
.text-center h4{
    text-align:center;
}

body {
    max-width: 100%;   
    overflow-x: hidden;
  
}
p{
    text-align:justify;
}
.home-block p{
    text-align:center;
}
.dark img{
    padding-bottom:0px;
    padding-top:14px;
}

header {
    background: rgba(0,0,0, 0.8);
    position: absolute;
    top: 0px;
    width: 100%;
    height: 75px;
}

#homePageImage {
    width: 100%;
    /*overflow:hidden !important;*/
    /*overflow-y:hidden;*/
}

.home-block a {
    font-size: 12px;
    padding: 15px 0px;
    color: #ffffff;
    width: 52px !important;
    height: 52px;
    border: 2px solid #ffffff;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 50%;
}

.home-block a:hover {
   background: rgba(0,0,0,0.4);
    color: #ff9900;
    text-decoration:none;
}


.brand {
    height: 65px;
    width: 65px;
    margin-top: -25px;
    margin-left: 0px;
}

#navigationBar {    
    /*margin: 5px 0px;*/
    /*width:139%;*/
   position: relative;
  top: -45px;
}

nav ul li {   
      display: inline;
  
}
nav ul li a, nav ul li span {
    font-size: 9px;       
    padding: 0px 8px !important;
    border-right:1px solid  rgba(255, 255, 255, 0.5);
    
}

nav ul li a:hover, nav ul li span:hover, nav ul li a:visited, nav ul li a:active {
    text-decoration:none;    
}

#magnifyIcon {
    position: absolute;
    right: 0px;
    height: 17px;
}

#homeBlock {
    background-size: cover;
    height: 100%;
    padding-top: 17%;
    /*overflow:hidden;*/
}



#blackBox {
    background: black;
    color: antiquewhite;
    /*height:200px;*/
    padding-top: 20px;
    padding-bottom: 20px;
}

.container {
    width: 60%;
}

#carousel-example-generic p {
    color: #ffffff;
    font-size: 13px;
}

.carousel-indicators {
    bottom: -20px;
}

#footerNav {
    list-style-type: none;
    margin: -6px -10px;
}

    #footerNav li {
        display: inline;
        font-size: 5px !important;
        border-right: 1px solid #FBF6F6;
    }

        #footerNav li a {
            font-size: 10px !important;
            margin: 12px 5px;
            padding-bottom: 0px; 
        }

         #footerNav li a:hover {
            text-decoration:none;
            border:none;
        }

        #footerNav li a img {
            margin: -10px -4px;
        }

#mobileSocialIcon {
    list-style-type: none;
    margin: 5px 0px;
}

    #mobileSocialIcon li {
        display: inline;
    }

        #mobileSocialIcon li a img {
            margin: -10px 0px;
        }

#responsiveFooterBlock {
    text-align: center;
    margin-bottom:30px;
}

    #responsiveFooterBlock ul {
        list-style-type: none;
    }

        #responsiveFooterBlock ul li {
           margin:10px 0px;
           margin-right:20px;
        }

            #responsiveFooterBlock ul li a {
                display: block;
                color: #ffffff;
                border-radius: 5px;
                text-decoration: none;
                border: 1px solid #ffffff;
                width: 100% !important;
                height:45px;
                padding: 12px;
                background:rgba(0,0,0,0.7);
            }

           #responsiveFooterBlock ul li a:hover {
               color: #ff9900;
               background:rgba(0,0,0,0.4);
           }

            #responsiveFooterBlock ul li a:active {
                    color: #ffffff;
                    background:rgba(0,0,0,0.4);
           }

#blackBox p {
    margin-top: 20px;
    color: antiquewhite;
    /*font-size: 13px;*/
    text-align: justify;
     margin-top: 10px;
}

#storeDescription p {
    margin-top: 20px;
    margin-bottom: 20px;
    /*font-size: 12px;*/
}

label {
    /*font-size: 12px;*/
}

.bottomLink a {
  
    display: inline-block;
    background:rgba(0,0,0,0.5);
}

.bottomLink a:hover {
    text-decoration:none;
    display: inline-block;
    background:rgba(0,0,0,0.4);
    color:#ff9900;
    border-color:#ffffff;
}

footer.dark a:hover {
    border-bottom:none !important;
}

#transparentBox {
    background-image: -webkit-linear-gradient(right, rgba(0,0,0,0.1), rgba(0,0,0,0.5),rgba(0,0,0,0.1));
    background-image: -o-linear-gradient(right, rgba(0,0,0,0.1), rgba(0,0,0,0.5),rgba(0,0,0,0.1));
    background-image: -moz-linear-gradient(right, rgba(0,0,0,0.1), rgba(0,0,0,0.5),rgba(0,0,0,0.1));
    background-image: linear-gradient(right, rgba(0,0,0,0.1), rgba(0,0,0,0.5),rgba(0,0,0,0.1));
    background-size: cover;
    width: 30%;
    position: relative;
    top: 111px;
    margin: auto;
    padding: 30px;
    color: #ffffff;
}

#centerPortionOnMobile {
     width: 100%;
  position: absolute;
  bottom: 10%;
}
 

@media (max-width: 768px) {
    .brand {
        margin-top: -25px;
        margin-left: 0px;
    }

    #carousel-example-generic {
        /*width: 90%;*/
        margin: auto;
        padding: 20px;
    }

    .container {
        width: 95%;
    }

    #transparentBox {
        width: 65%;
    }

     nav ul li a, nav ul li span {   
        border-right:1px solid transparent;
    }
      .text-center h4{
      width:45% !important;
  }
       
}

@media only screen and (max-width : 320px) {
   
    .brand {
        margin-top: -25px;
    }

    .container {
        width: 95%;
    }

    #transparentBox {
        width: 95%;
    }

    #carousel-example-generic {
        width: 90%;
        margin: auto;
        padding: 20px;
    }

    #mobileSocialIcon li a img {
        margin: -23px 0px;
    }

    nav ul li a, nav ul li span {   
        border-right:1px solid transparent;
    }

     .text-center h4{
      width:80% !important;
  }
}

@media only screen and (min-width : 920px) {
    .brand {
        margin-top: -10px;
    }

    #carousel-example-generic {
        width: 90%;
        margin: auto;
        padding: 20px;
    }

   
}
@media only screen and (max-width : 920px) {
   
       nav ul li a, nav ul li span {   
        border-right:1px solid transparent;
    }    

}

@media only screen and (min-width : 1224px) {
    .brand {
        margin-top: -10px;
    }

    #carousel-example-generic {
        width: 90%;
        margin: auto;
        padding: 20px;
    }
}

@media (max-width: 992px){
    body {
        overflow-x:hidden !important;
    }

    #navigationBar{
        width:auto;
          position: relative;
          top: -15px;
    }

    nav{
        margin-top: -95px;
        transform: translateX(135%);
    }

    nav > ul li:first-child a{
        padding:0px;
        padding-top:4px;
    }

     nav > ul li{
         border:none;
     }

    nav > ul li a, nav > ul li span {
        font-size:14px !important;
       height: 30px;     
     
      margin:2px;
      padding:4px;
      border:none;
      
    }

}

@media (min-width: 992px) and (max-width: 1120px) {
    nav ul li a, nav ul li span {
     font-size: 7px;   
    }
}

.btn-custom {
  background-color: hsl(70, 11%, 26%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#787c63", endColorstr="#47493b");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#787c63), to(#47493b));
  background-image: -moz-linear-gradient(top, #787c63, #47493b);
  background-image: -ms-linear-gradient(top, #787c63, #47493b);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #787c63), color-stop(100%, #47493b));
  background-image: -webkit-linear-gradient(top, #787c63, #47493b);
  background-image: -o-linear-gradient(top, #787c63, #47493b);
  background-image: linear-gradient(#787c63, #47493b);
  border-color: #47493b #47493b hsl(70, 11%, 21.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.29);
  -webkit-font-smoothing: antialiased;
}

#faqBox p, #faqBox strong{
    /*font-size:13px;*/
}

#theImage {
    width:45%;
}
/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
